@page
@using TennisLibrary.Helpers
@using TennisLibrary.Models
@model TennisWebsite.Pages.CourtPages.ShowCourtsModel
@{
    ViewData["Title"] = "Baner";
}
<body>
    <div class="container Container-Background">
        <div>
            <form method="post">
                <input class="btn btn-primary mt-4 mb-2" type="date" asp-for="@Model.date" onclick="this.showPicker();" onchange="this.form.submit()" />
            </form>

            @if (HttpContext.Session.GetInt32("AccessLevel") >= (int)AccessLevel.Admin)
            {
                <a asp-page="AddCourt" class="btn btn-info mb-3">Opret bane</a>
            }

            @foreach (Court c in Model.courts)
            {
                <div class="card mb-3">
                    <div class="card-header bg-dark text-light">
                        @c.Type
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@c.Name</h5>
                        <div class="btn-group" role="group">

                            @for (int i = 8; i < 22; i++)
                            {
                                if (Model.bookedCourtTimes.Contains(c.Name + i) || new DateTime(Model.date, new TimeOnly(i, 0, 0)) < DateTime.Now)
                                {
                                    <a class="btn btn-secondary border-dark" disabled>@i:00</a>
                                }
                                else
                                {
                                    <a asp-page="/BookingPages/CreateBooking" asp-route-time="@(new DateTime(Model.date, new TimeOnly(i,0,0)).ToString())"
                                        asp-route-court="@c.Name" class="btn btn-success border-dark">@i:00</a>
                                }
                            }
                        </div>
                        @if (HttpContext.Session.GetInt32("AccessLevel") >= (int)AccessLevel.Admin)
                        {
                            <br />
                            <div class="btn-group mt-2" role="group">
                                <button class="btn btn-primary">Admin booking</button>
                                <a asp-page="editcourt" asp-route-courtName="@c.Name" class="btn btn-info ">Rediger</a>
                                <button class="btn btn-danger" asp-page-handler="Delete" asp-route-courtName="@c.Name">Slet</button>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</body>


