@page
@using TennisLibrary.Models;
@using TennisLibrary.Helpers;
@model TennisWebsite.Pages.Users.ShowAllUsersModel
@{
    ViewData["Title"] = "UsersAdminView";
}
@Html.AntiForgeryToken();

<style>
    @{/*https://medium.com/@predragdavidovic10/native-dual-range-slider-html-css-javascript-91e778134816 */}
    .range_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .sliders_control {
        position: relative;
        width: 20%;
        display: block;
    }

    .form_control {
        position: relative;
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        color: #635a5a
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        pointer-events: all;
        width: 24px;
        height: 24px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 0 1px #C6C6C6;
        cursor: pointer;
    }

    input[type=range]::-moz-range-thumb {
        pointer-events: all;
        width: 24px;
        height: 24px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 0 1px #C6C6C6;
        cursor: pointer;
    }

    input[type=range]::-webkit-slider-thumb:hover {
        background: #f7f7f7;
    }

    input[type=range]::-webkit-slider-thumb:active {
        box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
        -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    }

    input[type="number"] {
        color: #8a8383;
        width: 50px;
        height: 30px;
        font-size: 20px;
        border: none;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        opacity: 1;
    }

    input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        height: 2px;
        width: 100%;
        position: absolute;
        background-color: #C6C6C6;
        pointer-events: none;
    }

    #fromSlider {
        height: 0;
        z-index: 1;
    }
</style>

<div class="container p-4 Container-Background">







    <div>

        <div class="range_container">
            <a class="btn btn-primary" asp-page="RegisterNewUser">Register</a>


            <input id="queryField" type="text") />

            <h4>Aldersinterval:</h4>

            <label for="fromInput">Min</label>
            <input type="number" id="fromInput" value="10" min="0" max="100"/>

            <span class="sliders_control">
                <input id="fromSlider" type="range" value="10" min="0" max="100" />
                <input id="toSlider" type="range" value="40" min="0" max="100" />
            </span>

            <label for="toInput">Max</label>
            <input type="number" id="toInput" value="40" min="0" max="100"/>


                @for(int i=0; i<Model.Genders.Length;i++)
                {
            <div>
                    <label asp-for="@Model.Genders[i]">@Model.Genders[i].Item2</label>
                    <input type="checkbox" name="genderBox" value="@Model.Genders[i].Item1"/>
            </div>
                }

        </div>

        <br />


        @* Here the following is used *@
        @* https://getbootstrap.com/docs/5.3/components/card/#grid-cards *@
        @* https://getbootstrap.com/docs/5.1/components/card/#masonry *@

        <div class="row row-cols-1 row-cols-md-3 g-4 card-group" id="cardContainer">
            @for(int i = 0; i < Model.Users.Count; i++)
            {
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body text-center d-flex flex-column">
                        <img src="~/Images/MemberImages/@Model.Users[i].ImageName" class="card-img-top"/>
                            <h4 class="card-title">@Model.Users[i].Name</h4>
                            <div class="row row-cols-1 row-cols-md-2 g-4">
                                <div class="d-flex flex-column gap-2">
                                    <div class="card flex-fill" style="height: 100%;">
                                        <p class="card-text"><b>Køn:</b> @Model.Users[i].Gender</p>
                                        <p class="card-text"><b>Fødselsdato:</b> @Model.Users[i].BirthDate</p>
                                    </div>
                                    <br />
                                    <div class="card flex-fill" style="height: 100%;">
                                    <p class="card-text"><b>Brugernavn:</b> @Model.Users[i].Username</p>
                                    <p class="card-text"><b>Brugertype:</b> @((AccessLevel)@Model.Users[i].AccessLevel)</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-column gap-2">
                                    <div class="card flex-fill" style="height: 100%;">
                                        <p class="card-text"><b>Telefonnummer:</b> @Model.Users[i].Phone</p>
                                        <p class="card-text"><b>Emailadresse:</b> @Model.Users[i].Email</p>
                                    </div>
                                    <br />
                                    <div class="card flex-fill" style="height: 100%;">
                                        <p class="card-text"><b>Adresse:</b> @Model.Users[i].Address</p>
                                        <p class="card-text"><b>Kommune:</b> @Model.Users[i].HomeMunicipality</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-auto d-flex justify-content-center gap-3">
                                <form asp-page-handler="Delete" asp-route-Username="@Model.Users[i].Username" class="m-0">
                                    <input type="image" src="~/Images/trash3.svg" onclick="return confirm('Are you sure you want to delete the User @Model.Users[i].Username (@Model.Users[i].Name) ?');">
                                </form>
                                <a asp-page="EditUser" asp-route-Username="@Model.Users[i].Username" asp-route-KeepImage="@true" class="m-0">
                                    <img src="~/Images/pencil-square.svg" alt="Edit">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>



@section scripts
{
    <script>
        async function searchFunc(query, fromInput, toInput) {
            const selectedGenders = Array.from(
            document.querySelectorAll('input[type="checkbox"][name^="genderBox"]:checked')
            ).map(checkbox => checkbox.value).join('');

            const response = await fetch(`?handler=Update&query=${query}&genderInput=${selectedGenders}&minAge=${fromInput.value}&maxAge=${toInput.value}`); //Apparently this is a lot of data, not just my data.
            const valuePairs = await response.json(); //This is my data, as transferred? Returned? with return JsonResult([my list of things here])
            updateCardList(valuePairs);
        }

        function controlFromInput(fromSlider, fromInput, toInput, controlSlider) {
            const [from, to] = getParsed(fromInput, toInput);
            fillSlider(fromInput, toInput, '#C6C6C6','#25daa5',controlSlider);
            if(from>to) {
                fromSlider.value = to;
                fromInput.value = to;
            } else {
                fromSlider.value=from;
            }
        }

        function controlToInput(toSlider, fromInput, toInput, controlSlider) {
            const [from, to] = getParsed(fromInput, toInput);
            fillSlider(fromInput, toInput, '#C6C6C6', '#25daa5',controlSlider);
            setToggleAccessible(toInput);
            if(from <= to) {
                toSlider.value = to;
                toInput.value = to;
            } else {
                toInput.value = from;
            }
        }

        function controlFromSlider(fromSlider, toSlider, fromInput) {
            const [from, to] = getParsed(fromSlider, toSlider);
            fillSlider(fromSlider, toSlider, '#C6C6C6', '#25daa5', toSlider);
            if (from > to) {
                fromSlider.value = to;
                fromInput.value = to;
            } else {
                fromInput.value = from;
            }
        }

        function controlToSlider(fromSlider, toSlider, toInput) {
            const[from, to] = getParsed(fromSlider, toSlider);
            fillSlider(fromSlider, toSlider, '#C6C6C6', '#25daa5', toSlider);
            setToggleAccessible(toSlider);
            if (from <= to) {
                toSlider.value = to;
                toInput.value = to;
            } else {
                toInput.value = from;
                toSlider.value = from;
            }
        }

        function getParsed(currentFrom, currentTo) {
            const from = parseInt(currentFrom.value, 10);
            const to = parseInt(currentTo.value, 10);
            return [from, to];
        }

        function fillSlider(from, to, sliderColor, rangeColor, controlSlider) {
            const rangeDistance = to.max - to.min;
            const fromPosition = from.value - to.min;
            const toPosition = to.value - to.min;
            controlSlider.style.background = `linear-gradient(
                to right,
                ${sliderColor} 0%,
                ${sliderColor} ${(fromPosition)/(rangeDistance)*100}%,
                ${rangeColor} ${(fromPosition)/(rangeDistance)*100}%,
                ${rangeColor} ${(toPosition)/(rangeDistance)*100}%, 
                ${sliderColor} ${(toPosition)/(rangeDistance)*100}%, 
                ${sliderColor} 100%)`;
        }

        function setToggleAccessible(currentTarget) {
            const toSlider = document.querySelector('#toSlider');

            if (Number(currentTarget.value) <= 0 ) {
                toSlider.style.zIndex = 2;
            } else {
                toSlider.style.zIndex = 0;
            }
        }
        const fromSlider = document.querySelector('#fromSlider');
        const toSlider = document.querySelector('#toSlider');
        const fromInput = document.querySelector('#fromInput');
        const toInput = document.querySelector('#toInput');
        const searchField = document.querySelector('#queryField');
        const genderCheckList = document.querySelectorAll('input[type="checkbox"][name^="genderBox"]')

        fillSlider(fromSlider, toSlider, '#C6C6C6', '#25daa5', toSlider);
        setToggleAccessible(toSlider);

        fromSlider.oninput = () => controlFromSlider(fromSlider, toSlider, fromInput, searchField);
        toSlider.oninput = () => controlToSlider(fromSlider, toSlider, toInput, searchField);
        
        
        fromInput.oninput = () => {
            controlFromInput(fromSlider, fromInput, toInput, toSlider, searchField);
            searchFunc(searchField.value, fromInput, toInput);

        };
        toInput.oninput = () => {
            controlToInput(toSlider, fromInput, toInput, toSlider, searchField);
            searchFunc(searchField.value, fromInput, toInput);
        }

        fromSlider.onmouseup = () => searchFunc(searchField.value, fromInput, toInput);
        toSlider.onmouseup = () => searchFunc(searchField.value, fromInput, toInput);
        searchField.oninput = () => searchFunc(searchField.value, fromInput, toInput);
        genderCheckList.forEach(checkBox => {
    checkBox.addEventListener('change', () => {
            searchFunc(searchField.value, fromInput, toInput);
        });
    });

        const accessLevelNames = {
            0: "Guest",
            1: "Member",
            2: "GuestTrainer",
            3: "Trainer",
            4: "Admin",
            5: "Chairman"
        };

        function updateTable(valuePairs) {
            //Updates the ENTIRE table when filtering and/or searching the stored users
            const tableBody = document.getElementById('userListTable');
            tableBody.innerHTML = '';

            const tokenElement = document.querySelector('input[name="__RequestVerificationToken"]');
            const tokenValue = tokenElement ? tokenElement.value : null;

            const keepImage = true;

            valuePairs.forEach(item => {
                const row = document.createElement('tr');

                const accessName = accessLevelNames[item.data.accessLevel];

                row.innerHTML = `
                    <td>
                        ${item.data.username}
                    </td>
                    <td>
                        ${item.dlString}
                    </td>
                    <td>
                        ${item.data.gender}
                    </td>
                    <td>
                        ${item.data.phone}
                    </td>
                    <td>
                        ${item.data.email}
                    </td>
                    <td>
                        ${item.data.address}
                    </td>
                    <td>
                        ${item.data.homeMunicipality}
                    </td>
                    <td>
                        ${item.data.birthDate}
                    </td>
                    <td>
                        ${accessName}
                    </td>
                    <td>
                        <img src="/Images/MemberImages/${item.data.imageName}" width="140px" height="140px">
                    </td>
                    <td>
                        <form method="post" action="?handler=Delete&Username=${item.data.username}" onsubmit="return confirm('Are you sure you want to delete the User ${item.data.username} (${item.data.name}) ?')">
                            <input type="image" src="/Images/trash3.svg">
                            <input name="__RequestVerificationToken" type="hidden" value="${tokenValue}" />
                        </form>
                        <a class="svg-link" href="/Users/EditUser?Username=${item.data.username}&KeepImage=${keepImage}">
                            <img src="/Images/pencil-square.svg" alt="Edit">
                        </a>
                    </td>
                `;
                tableBody.appendChild(row);
            });
        }

        function updateCardList(valuePairs) {
            //Updates the ENTIRE table when filtering and/or searching the stored users
            const cardContainer = document.getElementById('cardContainer');
            cardContainer.innerHTML = '';

            const tokenElement = document.querySelector('input[name="__RequestVerificationToken"]');
            const tokenValue = tokenElement ? tokenElement.value : null;

            const keepImage = true;

            valuePairs.forEach(item => {
                const column = document.createElement('div');
                column.classList.add('col')

                const accessName = accessLevelNames[item.data.accessLevel];

                column.innerHTML = `
                    <div class="card h-100">
                        <div class="card-body text-center">
                        <img src="/Images/MemberImages/${item.data.imageName}" class="card-img-top"/>
                            <h4 class="card-title">${item.data.name}</h4>
                            <div class="row row-cols-1 row-cols-md-2 g-4">
                                <div class="d-flex flex-column gap-2">
                                    <div class="card flex-fill" style="height: 100%;">
                                        <p class="card-text"><b>Køn:</b> ${item.data.gender}</p>
                                        <p class="card-text"><b>Fødselsdato:</b> ${item.data.birthDate}</p>
                                    </div>
                                    <br />
                                    <div class="card flex-fill" style="height: 100%;">
                                        <p class="card-text"><b>Brugernavn:</b> ${item.data.username}</p>
                                        <p class="card-text"><b>Brugertype:</b> ${accessName}</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-column gap-2">
                                    <div class="card flex-fill" style="height: 100%;">
                                    <p class="card-text"><b>Telefonnummer:</b> ${item.data.phone}</p>
                                    <p class="card-text"><b>Emailadresse:</b> ${item.data.email}</p>
                                    </div>
                                    <br />
                                    <div class="card flex-fill" style="height: 100%;">
                                    <p class="card-text"><b>Adresse:</b> ${item.data.address}</p>
                                    <p class="card-text"><b>Kommune:</b> ${item.data.homeMunicipality}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-auto d-flex justify-content-center gap-3">
                                <form class="m-0" method="post" action="?handler=Delete&Username=${item.data.username}" onsubmit="return confirm('Are you sure you want to delete the User ${item.data.username} (${item.data.name}) ?')">
                                    <input type="image" src="/Images/trash3.svg">
                                    <input name="__RequestVerificationToken" type="hidden" value="${tokenValue}" />
                                </form>
                                <a class="svg-link m-0" href="/Users/EditUser?Username=${item.data.username}&KeepImage=${keepImage}">
                                    <img src="/Images/pencil-square.svg" alt="Edit">
                                </a>
                            </div>

                        </div>
                    </div>
                `;
                cardContainer.appendChild(column);
            });
        }

    </script>
}