@page
@using TennisLibrary.Models;
@using TennisLibrary.Helpers;
@model TennisWebsite.Pages.Users.ShowAllUsersModel
@{
    ViewData["Title"] = "UsersAdminView";
}

<style>
    /* https://www.w3schools.com/HOWTO/howto_js_dropdown.asp */

    /* The container <div> - needed to position the dropdown content */
    .dldropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dldropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        /* Links inside the dropdown */
        .dldropdown-content div {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            /* Change color of dropdown links on hover */
            .dldropdown-content div:hover {
                background-color: #ddd;
            }

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .dlshow {
        display: block;
    }

    .dlinput {

    }

</style>

<div class="container p-4 Container-Background">
    <div>
        <btn>
            <a asp-page="RegisterNewUser">Register</a>
        </btn>

        <div class="dldropdown">
            <input class="dlinput" id="queryField" type="text" oninput="searchFunc(queryField.value)" />
            <input type="hidden" id="usernameField" asp-for="@Model.SelectedUsername" />

            <div id="testDropDown" class="dldropdown-content">
            </div>
        </div>

        <table  class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Navn</th>
                    <th>Køn</th>
                    <th>Telefonnummer</th>
                    <th>Email</th>
                    <th>Addresse</th>
                    <th>Hjemmekommune</th>
                    <th>Fødselsdato</th>
                    <th>Autoritettsniveau</th>
                    <th>Profilbillede</th>
                </tr>
            </thead>

            <tbody>
                @foreach(User user in Model.Users)
                {
                    <tr>
                        <td>
                            @user.Username
                        </td>
                        <td>
                            @user.Name
                        </td>
                        <td>
                            @user.Gender
                        </td>
                        <td>
                            @user.Phone
                        </td>
                        <td>
                            @user.Email
                        </td>
                        <td>
                            @user.Address
                        </td>
                        <td>
                            @user.HomeMunicipality
                        </td>
                        <td>
                            @user.BirthDate
                        </td>
                        <td>
                            @((AccessLevel)user.AccessLevel)
                        </td>
                        <td>
                            <img src="~/Images/MemberImages/@(user.ImageName)" width="140px" height="140px">
                        </td>
                        <td>
                            <form asp-page-handler="Delete" asp-route-Username="@user.Username">
                                <input type="image" src="~/Images/trash3.svg" onclick="return confirm('Are you sure you want to delete the User @user.Username (@user.Name) ?');">
                            </form>
                            <a asp-page="EditUser" asp-route-Username="@user.Username" asp-route-KeepImage="@true">
                                <img src="~/Images/pencil-square.svg" alt="Edit">
                            </a>
                            <form asp-page-handler="Delete" asp-route-Username="@user.Username">
                                <input type="image" src="~/Images/trash3.svg" onclick="return confirm('Are you sure you want to delete the User @user.Username (@user.Name) ?');">
                            </form>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>



@section scripts
{
    <script>
        async function searchFunc(query) {
            document.getElementById("testDropDown").classList.add("dlshow");
            const response = await fetch(`?handler=Update&query=${query}`); //Apparently this is a lot of data, not just my data.
            const valuePairs = await response.json(); //This is my data, as transferred? Returned? with return JsonResult([my list of things here])
            updateTable(valuePairs);
        }

        function updateTable(valuePairs) {
            const dropdown = document.getElementById('testDropDown'); //Refer to the table in the actual html
            dropdown.innerHTML = ''; // Clear existing rows in the table

            valuePairs.forEach(item => {
                const option = document.createElement('div');
                option.onclick = function() {
                    selectItem(item)
                }
                option.innerHTML = `
                    ${item.dlString}
                    <br />
                    <i>#${item.data.username}</i>
                    <br />
                `;
                dropdown.appendChild(option);
            });
        }

        function selectItem(item) {
            document.getElementById('queryField').value = item.dlString;
            document.getElementById('usernameField').value = item.username;
            openDropdown.classList.remove('dlshow');
        }

        window.onclick = function(event) {
            if(!event.target.matches('dlinput')) {
                var dropdowns = document.getElementsByClassName("dldropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if(openDropdown.classList.contains('dlshow')) {
                        openDropdown.classList.remove('dlshow');
                    }
                }
            }
        }
    </script>
}