@page
@model TennisWebsite.Pages.Users.UserProfileModel
@{
    ViewData["Title"] = "MyProfile";
}

<div class="container Container-Background p-4" style="justify-content:normal !important; align-items:start !important">

    @* https://getbootstrap.com/docs/4.0/layout/grid/ *@
    <div class="container container-fluid">
        <div class="row align-items-start">
            <div class="col-sm col-3">

                <b>Navn:</b> @Model.Name
                <br />
                <b>Køn:</b> @Model.Gender
                <br />
                <b>Fødselsdati:</b> @Model.BirthDate

            </div>
            <div class="col-sm">
                <img src="~/Images/MemberImages/@(Model.ImageName)" width="300px" height="300px">
            </div>
        </div>

        <div class="row align-items-start">
            <div class="col-sm col-3">

                <b>Tlf:</b> @Model.Phone
                <br />
                <b>Emailadresse:</b> @Model.Email

            </div>
            <div class="col-sm col-3">

                <b>Adgangsniveau:</b> @Model.AccessName
                <br />
                <b>Brugernavn:</b> @Model.Username
            </div>
        </div>

        <div class="row align-items-start">
            <div class="col-sm col-3">
                <b>Adresse:</b> @Model.Address
            </div>
            <div class="col-sm">
                <b>Hjemmekommune:</b> @Model.HomeMunicipality
            </div>
        </div>
        <a class="btn btn-primary" asp-page="LogOutTerminal">Log out</a>
    </div>
</div>