@page
@using TennisLibrary.Models;
@model TennisWebsite.Pages.Blogs.ShowBlogPostsModel
@{
    ViewData["Title"] = "ShowBlogPosts";
}

<!DOCTYPE html>
<html>

<head>
    <style>
        .left-align {
            text-align: left;
        }

        .center-align {
            text-align: center;
        }

        .right-align {
            text-align: right;
        }
    </style>
</head>

<body>
    <div class="container Container-Background">
        <div>
            <div>
                <form method="post">
                    @if (Model.IsAdmin)
                    {
                        <a class="btn btn-primary mt-4" href="AddBlogPosts" role="button">Post</a>
                    }
                </form>
            </div>
            @foreach (@Blog post in @Model.BlogPosts)
            {
                <div class="card-deck mt-3" style="width:50vw !important">

                    <div class="card">
                        @* <img class="card-img-top" src=".../100px180/" alt="Card image cap"> *@
                        <div class="card-header">Author: @post.Author</div>
                        <div class="card-body">
                            <h5 class="card-title">@post.Title</h5>
                            <p class="card-text">@post.Body</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Posted: @post.Date</small>
                            @if (Model.IsAdmin)
                            {
                                <p class="right-align">
                                    <a asp-page="EditBlogPosts" asp-route-id="@post.ID">
                                        <input type="image" src="~/Images/pencil-square.svg" >
                                    </a>
                                    <a asp-page-handler="Delete" asp-route-DeleteNo="@post.ID">
                                        <input type="image" src="~/Images/trash3.svg" onclick="return confirm('Vil du gerne slette blog posten: @post.Title?');">
                                    </a>
                                </p>
                            }
                        </div>
                    </div>
                </div>
            }
            <br/>
        </div>
    </div>
</body>

</html>