@page
@model TennisWebsite.Pages.BookingPages.CreateBookingModel
@{
    ViewData["Title"] = "Create booking";
}
<div class="container p-4 Container-Background">
    <div class="w-75">
        <form method="post" asp-page-handler="Create">

            <div class="mb-3">
                <label asp-for="@Model.player1" class="control-label"> Spiller 1 </label>
                <input asp-for="@Model.player1" class="form-control" readonly required />
            </div>
            
            <div class="mb-3">
                <label asp-for="@Model.player2" class="control-label"> Spiller 2 </label>
                <input asp-for="@Model.player2" class="form-control", placeholder="Indtast venligst brugernavnet på din medspiller." required />
            </div>

            <div class="mb-3">
                <label asp-for="@Model.booking.Court.Name" class="control-label"> Bane </label>
                <input asp-for="@Model.booking.Court.Name" class="form-control" required />
            </div>

            <div class="mb-3">
                <label asp-for="@Model.booking.Start" class="control-label"> Start tid </label>
                <input asp-for="@Model.booking.Start" class="form-control" readonly required />
            </div>

            <div class="mb-3">
                <label asp-for="@Model.booking.End" class="control-label"> Slut tid </label>
                <input asp-for="@Model.booking.End" class="form-control" readonly required/>
            </div>

            <button type="submit" class="btn btn-info">Opret booking</button>
        </form>
    </div>
</div>